# used in tandem with package.json engines section to only use pnpm
engine-strict=true
strict-peer-dependencies=false
auto-install-peers=true


use-lockfile-v6=true


dedupe-peer-dependents=true

resolve-peers-from-workspace-root=true

save-workspace-protocol=rolling
save-prefix=''
